body {
  background-color:  #EDEBD9;
}
/* img {
  float: left;
  width: 30%;
  height: 35%;
} */
h1 {
  text-align: center;
  padding-top: 3%;
}
.content-text {
  padding: 3%;
}
p {
  margin-bottom: 10px;
}
