<style>

html, body {
  height: 100%;
   margin: 0;
   padding: 0;
 }

 body{font-size: 15px;}

h2{
  font-family: 'EB Garamond', serif;
  font-size: 50px;
}

h3{
  font-family: 'Jura', sans-serif;
  font-size: 25px;
}

p{font-size: 20px;
  font-family: 'Piazzolla', serif;
}

ul{
  font-size: 20px;
  font-family: 'Piazzolla', serif;
}

a{text-decoration: none;}
/*colors*/
.navy{color: #1c1f4c}
.emerald{color: #00848c}
.darkemerald{color: #037272}
.yellow{color: #ffe35a}
.darkyellow{color: #fec20f}
.beige{color: #edebd9;}

.navy-b{background-color: #1c1f4c}
.emerald-b{background-color: #00848c}
.darkemerald-b{background-color: #037272}
.yellow-b{background-color: #ffe35a}
.darkyellow-b{background-color: #fec20f}
.beige-b{background-color: #edebd9;}

.large-container{
  padding: 80px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: left;
  height: 100%;
}

.half{
  display: grid;
  grid-template-columns: 50% 50%;
}

.third{
  display: flex;
  justify-content: space-around;
}

.text-button{
}

.button {
  background-color: #edebd9;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family:'Piazzolla', serif;
  cursor: pointer;
}

button:focus{
  background-color: white;
  outline: none;
}

.button1 {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 0;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Style the footer */
footer {
  background-color: #668;
  padding: 100px;
  text-align: center;
  font-size: 35px;
  color: yellow;
}

</style>
