<style>

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }

 body{font-size: 15px;}

h2{
  font-family: 'Roboto Black';
  font-size: 70px;
}

h3{
  font-family: 'Roboto Medium';
  font-size: 33px;
}

p{font-size: 20px;
  font-family: 'Roboto Medium';
}

ul, ol {
  font-size: 20px;
  font-family: 'Montserrat Bold', serif;
   list-style-position: inside;
   padding: 10px;
}

a{text-decoration: none;}
/*colors*/
.navy{color: #1c1f4c}
.emerald{color: #494B71}
.emerald1{color: #FE846D}
.darkemerald{color: #037272}
.yellow{color: #358D8E}
.darkyellow{color: #fec20f}
.beige{color: #edebd9}

.navy-b{background-color: #1c1f4c}
.emerald-b{background-color: #00848c}
.darkemerald-b{background-color: #037272}
.yellow-b{background-color: #ffe35a}
.darkyellow-b{background-color: #fec20f}
.beige-b{background-color: #edebd9;}

.large-container1{
  background-image: url(img/background1.png);
  background-color: #EDEBD9;
  padding: 200px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: left;
  height: 650px;
  background-size: cover;
}
.large-container2{
  background-image: url(img/background2.png);
  background-color: #EDEBD9;
  padding: 200px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
  height: 650px;
  background-size: cover;
}

.large-container3{
  background-image: url(img/background3.png);
  background-color: #EDEBD9;
  padding: 80px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: left;
  height: 700px;
  background-size: cover;
}

.large-container{
  padding: 80px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: left;
  height: 100%;
}

.half{
  display: grid;
  grid-template-columns: 50% 50%;
}

.third{
  display: flex;
  justify-content: space-around;
}

.text-button{
}

.button {
  background-color: #edebd9;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family:'Montserrat Bold',sans-serif;
  cursor: pointer;
}

.button2 {

}

.button2:focus{
  background-color: white;
  outline: none;
}

.button1 {
background-color: #037272;
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-gap: 10px;
  padding: 10px;
}

.msg-container {
  width: inherit;
  height: 800px;
  position: static;
  left: 14%;
  top: 57%;
  overflow: hidden;
}

#slider{
  display: inline-flex;
  transition: 0.5s;
}

.msg-col {
  width: 1130px;
  height: 800px;
}

.msg-col p {
  font-size: 15px;
  line-height: 25px;
}

.controller {
  height: 2px;
  width: 425px;
  position: relative;
  padding: 50px;
}

.btnSlide{
  width: 80px;
  height: 5px;
  display: inline-block;
  cursor: pointer;
  background: #037272;
  outline: none;
}

.btnSlide:focus {
  background-color: #ffe35a;
  outline: none;
}

#active {
  width: 80px;
  height: 5px;
  border-radius: 10px;
  background: #037272;
  right: 0px;
  transition: 0.5s;
}

#bachelor:after{
    content:'[ БАКАЛАВРАТ ]';
    transition: 0.7s;
}
#bachelor:hover:after{
    content:'[ \00a0 \00a0 БАКАЛАВРАТ \00a0 \00a0 ]';
    font-size: 1.1em;
    text-shadow: 5px 4px 6px #037272;
    transition: 0.7s;
}

#masters:after{
    content:'[ МАГІСТРАТУРА ]';
    transition: 0.7s;
}
#masters:hover:after{
    content:'[ \00a0 \00a0 МАГІСТРАТУРА \00a0 \00a0 ]';
    font-size: 1.1em;
    text-shadow: 5px 4px 6px #037272;
    transition: 0.7s;
}

#phd:after{
    content:'[ АСПІРАНТУРА ]';
    transition: 0.7s;
}
#phd:hover:after{
    content:'[ \00a0 \00a0 АСПІРАНТУРА \00a0 \00a0 ]';
    font-size: 1.1em;
    text-shadow: 5px 4px 6px #037272;
    transition: 0.7s;
}

</style>
